keystone:
  openstack-origin: cloud:trusty-{{ openstack_release }}
  admin-password: 'openstack'
  debug: 'true'
  log-level: 'DEBUG'
  os-admin-network: '192.168.122.0/24'
  os-internal-network: '192.168.133.0/24'
  os-public-network: '192.168.144.0/24'
nova-cloud-controller:
  openstack-origin: cloud:trusty-{{ openstack_release }}
  network-manager: 'Neutron'
  quantum-security-groups: 'yes'
  quantum-plugin: 'ovs'
  neutron-external-network: ext-net
  console-access-protocol: novnc
  console-proxy-ip: 127.0.0.1
  os-admin-network: '192.168.122.0/24'
  os-internal-network: '192.168.133.0/24'
  os-public-network: '192.168.144.0/24'
  verbose: 'True'
  debug: 'True'
neutron-api:
  openstack-origin: cloud:trusty-{{ openstack_release }}
  os-admin-network: '192.168.122.0/24'
  os-internal-network: '192.168.133.0/24'
  os-public-network: '192.168.144.0/24'
  neutron-security-groups: 'True'
  l2-population: 'False'
nova-compute:
  openstack-origin: cloud:trusty-{{ openstack_release }}
  enable-live-migration: 'False'
  migration-auth-type: "none"
  virt-type: {{ nova_compute_virt_type }}
  enable-resize: 'True'
  os-data-network: '192.168.133.0/24'
quantum-gateway:
  openstack-origin: cloud:trusty-{{ openstack_release }}
  instance-mtu: 1400
  ext-port: '{{ neutron_gateway_ext_port }}'
  plugin: ovs
  os-data-network: '192.168.133.0/24'
glance:
  openstack-origin: cloud:trusty-{{ openstack_release }}
  os-admin-network: '192.168.122.0/24'
  os-internal-network: '192.168.133.0/24'
  os-public-network: '192.168.144.0/24'
  verbose: 'True'
  debug: 'True'
cinder:
  openstack-origin: cloud:trusty-{{ openstack_release }}
  os-admin-network: '192.168.122.0/24'
  os-internal-network: '192.168.133.0/24'
  os-public-network: '192.168.144.0/24'
  block-device: '{{ cinder_block_device }}'
  overwrite: "true"
  glance-api-version: 2
  verbose: 'True'
  debug: 'True'
neutron-openvswitch:
  verbose: 'True'
  debug: 'True'
  disable-security-groups: 'False'
  os-data-network: '192.168.133.0/24'
openstack-dashboard:
  openstack-origin: cloud:trusty-{{ openstack_release }}
  debug: 'True'
  ubuntu-theme: 'no'
  neutron-network-lb: 'True'
  neutron-network-firewall: 'True'
  neutron-network-vpn: 'True'
